.service-items{
    margin-top: 100px;
}
.service-items h2{
    font-weight: bold;
    text-align: center;
}
.services-content span{
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(31, 255, 31);
}
.services-content input{
   padding: 7px 10px;
   margin-left:  5px;
   margin-top: 20px;
   border: 1px solid lightgrey !important;
   width: 300px;

   border-radius: 5px;
}
.services-content{
    text-align: center;
}
.serviceEquall{
    text-align: center;
    margin: 40px 0px;
    color: rgb(30, 253, 30);
    font-weight: thin;
}
.equall{
    font-weight: thin;
    width:50px;
}
.search{
    background-color: green;
    margin-left: 7px;
    padding: 25px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}